@use 'variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: variables.$bg-color;
    font-family: 'Prompt','sans-serif';
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: variables.$dark-color;
}
ul{
    list-style:none ;
}
img{
    width: 100%;
}
p{
    color: #fff;
}