@use 'variables';
#contact{
    &-a{
        padding: 1rem;
        height: 44vh;
        
        p{
            color: #000;
            font-weight: bold;
        }
        .form-fields{
            display: grid;
            grid-template-areas: 
                    'name email'
                    'subject phone'
                    'message message'
                    'button button';
            gap: 1rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
            .name{
                grid-area: name;
            }
            .email{
                grid-area: email;
            }
            .subject{
                grid-area: subject;
            }
            .phone{
                grid-area: phone;
            }
            .message{
                grid-area: message;
                height: 8rem;
            }
            .btn-primary{ //.btn-transient
                grid-area: button;
                color: #fff;
            }
            .btn-primary:hover{
                color: variables.$primary-color;
            }
            .name:focus, .email:focus, .subject:focus, phone:focus, .message:focus{
                outline: none;
                border: 2px solid variables.$purple-color;
                border-radius: 4px;
            }

            .input{
                padding: .5rem 1rem;
            }
                    
        }
    }

    &-b{
        .contact-info{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 1rem;
            text-align: center;
            color: #fff;
            padding: 1rem;
        }
    }
}
.contact{
    margin-top: 0 !important;
}