#home{
    // home section a
    &__a{
        .skills{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 1rem;
            margin-bottom: 2.5rem;
        }
    }
}