@use 'variables';

#projects{
    .section-title{
        margin-bottom: .4rem;
    }
    .lead{
        margin-bottom: 1rem;
        color: #fff;
    }
}
.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    box-shadow: variables.$yellow-color 0px 8px 24px;

    h2{
        color: #fff;
    }

    .item{
        background-color: variables.$dark-color;
        position: relative;
        overflow: hidden;
       
        .item__image{
            height: 320px;
            a{
                height: 100%;
            }
            img{
                height: 100%;
                object-fit: cover;
            }
        }
        .item__text{
            height: 120px;
            padding: .5rem;
        }

      
        &:hover{
            cursor: pointer;
        }

        &::after{
            content: '';
            position: absolute;
            display: block;
            background-color: variables.$purple-color;
            opacity: .4;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateX(-120%) translateY(-120%) rotate(45deg);
            transition: transform 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        &:hover::after{
            transform: scale(2) translateX(-40%) translateY(-40%) rotate(45deg);
        }
        &__text{
            &__wrap{
                padding: .5rem;
            }
        }
    }
}