$max-width: 1200px;
$primary-color: #EF6D6D;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$purple-color: #9929EA;
$yellow-color: hsl(51, 91%, 78%);
$bg-color: #000000;
$bg-image: url('../images/bg.png');
